{% extends "base.html" %}

{% block titulo %}
  Trocar Peças - {{ block.super }}
{% endblock %} 

{% block conteudo %}
  {{ block.super }}
 
  <form method="post">
    {% csrf_token %}
		<table class="form">
		  <tr>
		    <td>
		      {{ carro.quilometragem }}
		    </td>
		  </tr>
			<tr>
				<td>
					Motor: {{ motor.modelo }} -- {{ motor.fabricante}} Saude:{{ saude_motor }}%  {{ form.motor }} {{ form.trocar_motor }}
				</td>
			</tr>
			<tr>
				<td>
				Pastilha: {{ pastilha.modelo }} -- {{ pastilha.fabricante }} Saude: {{ saude_pastilha }}% {{ form.pastilhaFreio }} {{ form.trocar_pastilhaFreio }}
				</td>
			</tr>
			<tr>
				<td>
				  <input type="submit" value="Modificar"/>
				</td>
			</tr>
		</table>
  </form>
{% endblock conteudo %}
  





