<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
	<title>{% block titulo %}Lavoura Car{% endblock %}</title>

	{% block meta %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="pt-br" />
		<meta name="keywords" content="Carros, Utilidade, Automotivos, Trajeto" />
		<meta name="description" content="Site voltado para gerência de automóveis e trajetos">
	{% endblock meta %}

	{% block style %}
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}layout.css"/>
	{% endblock style %}
	
	{% block scripts %}
		<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	{% endblock scripts %}


</head>

<!-- Excluir essa coisa horrível -->
{% block body %}
<body>
{% endblock body %}

    {% block topo %}
		<div id="topo">
			<div class="topo_direita">
				{% if user.is_authenticated %}
					<a href="">Sair</a>

				{% else %}
					<form action="/entrar/" method="post" accept-charset="utf-8">
						{% csrf_token %}
						<label for="username">Email</label><input type="text" name="username" value="" id="username" />
						<label for="password">Senha</label><input type="password" name="password" value="" id="password" />
						<p><input type="submit" value="Login"></p>
					</form>
				{% endif %}
			</div>
			<div class="topo_esquerda">
			Logo
			</div>
		</div>
		<div id="menu">
				<p><a href="">Home</a></p>
				{% if user.is_authenticated %}
					<p><a href="">Gerenciar Conta</a></p>
				{% else %}
					<p><a href="">Cadastrar-se</a></p>
				{% endif %}				
				<p><a href="">Contato</a></p>
				<p><a href="">FAQ</a></p>
				<p><a href="">Sobre nós</a></p>
		</div>
    {% endblock topo %}



<h1>{% block h1 %}{% endblock %}</h1>

  <div class="corpo">
	<div class="left_sidebar">
		{% block left_sidebar %}{% endblock %}
	</div>
	<div class="conteudo">
		{% block conteudo %}{% endblock %}
	</div>
	<div class="right_sidebar">
		{% block right_sidebar %}{% endblock %}
	</div>	
  </div>

  <div id="rodape">
	  {% block rodape %}
	  {% endblock %}
  </div>

</body> 
</html>
